body {
    background: radial-gradient(circle, #d2aaff 7%, transparent 8%);
    background-size: 3em 3em;
    background-color: #fff4dd !important;
    opacity: 1;
    overflow: visible;
}

.paperbg {
    background-color: #fae2a1;
    background-image: url("beige-paper.png");
}