body{
    background-color: #222
}

h1 {
    color: rgb(250, 250, 250);
}

table {
    background-color: black;
    border-color: #000000;
}

td {
    background-color: #524040;
    border: 1px solid #fff;
    padding: 2px 20px 0;
    width: auto;
    text-align: center
}

.container {
    overflow-x: scroll;
}